<!-- <p>login works!</p> -->

<div class="div_Login">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <h1>Login</h1>

        <!-- Nome do usuário -->
        <mat-form-field appearance="outline">
            <mat-label>Usuário</mat-label>
            <input matInput type="text" formControlName="OPER_login" name="OPER_login" placeholder="Informe o seu login..." required>
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>

        <!-- Senha do usuário -->
        <mat-form-field appearance="outline">
            <mat-label>Senha</mat-label>
            <input matInput type="text" formControlName="OPER_senha" name="OPER_senha" placeholder="Informe a sua senha...">
            <mat-icon matSuffix>person</mat-icon>
          </mat-form-field>

        <!-- Esqueceu a senha -->
        <div class="div_resetPassword">
            <a [routerLink]="['/reset-password']" routerLinkActive="active">Forgot your password?</a>
        </div>

        <!-- Botões -->
        <div class="div_bt_submit">
            <button type="submit" mat-stroked-button color="primary">Sign in <mat-icon matSuffix>send</mat-icon></button>
        </div>

    </form>
</div>
