<!-- <p>reset-password works!</p> -->

<div class="div_ResetPassword">
    <form #f="ngForm" (ngSubmit)="onSubmit(f)">
        <h1>Reset password</h1>

        <mat-form-field appearance="outline">
            <mat-label>Email da conta</mat-label>
            <input type="email" matInput placeholder="Digite seu email..." required name="Email" ngModel #Email="ngModel">
            <mat-icon matSuffix>face</mat-icon>
            <!-- <mat-hint>Hint</mat-hint> -->
        </mat-form-field>

        <div class="div_bt_submit">
            <button type="submit" [disabled]="f.invalid" mat-stroked-button color="primary">Reset password <mat-icon matSuffix>face</mat-icon></button>
        </div>
    </form>
</div>