mat-form-field{
    width: 80%;
}

.div_ResetPassword{
    text-align: center;
    width: 40%;
    margin: 100px auto;
    border: 1px solid lightgray;
    border-radius: 15px;
    padding: 22px 0px;
    box-shadow: 2px 5px 8px rgba(10, 10, 10, 0.4);
    background: white;
}

.div_bt_submit{
    margin: 20px;
}

/* ******** Responsivo ******** */
@media screen and (min-width: 200px) and (max-width: 500px){
    .div_ResetPassword{
        width: 70%;
        margin-top: 20px;
        margin-bottom: 80px;
    }

    h1{
        font-size: 6vw;
    }

    mat-label{
        font-size: 4.5vw;
    }

    input{
        font-size: 4.2vw;
    }

    .div_bt_submit button{
        font-size: 4vw;
    }
}

@media screen and (min-width: 600px) and (max-width: 1200px){
    .div_ResetPassword{
        width: 70%;
    }

    h1{
        font-size: 7vw;
    }

    mat-form-field{
        margin: 10px auto;
    }

    mat-label{
        font-size: 3.5vw;
    }

    input {
        font-size: 3.7vw;
    }

    .div_bt_submit button{
        padding: 10px 30px;
        font-size: 4vw;
    }
}

@media screen and (min-width: 1300px){
    .div_ResetPassword{
        margin: 50px auto;
        width: 33.33%;
    }

    .div_ResetPassword h1 {
        font-size: 3vw;
    }
}