<!-- <p>register works!</p> -->

<div class="div_Register">
    <form #rgForm="ngForm" (ngSubmit)="onFormSubmit()">

        <h1>Register</h1>

        <!-- LOGIN -->
        <mat-form-field appearance="outline">
            <mat-label for="OPER_login">Usuário</mat-label>
            <input type="text" matInput placeholder="Informe o usuário..." name="OPER_login"
            [(ngModel)]="registerForm.OPER_login" #OPER_login="ngModel" required>
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <!-- ERRO - LOGIN -->
        <div class="Erro" *ngIf="OPER_login.touched && OPER_login.invalid">
            <p>Usuário é obrigatório</p>
        </div>

        <!-- NOME OPERADOR -->
        <mat-form-field appearance="outline">
            <mat-label for="OPER_nome_operador">Nome do operador</mat-label>
            <input type="text" matInput placeholder="Informe o nome do operador..." name="OPER_nome_operador"
            [(ngModel)]="registerForm.OPER_nome_operador" #OPER_nome_operador="ngModel" required>
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <!-- ERRO - NOME OPERADOR -->
        <div class="Erro" *ngIf="OPER_nome_operador.touched && OPER_nome_operador.invalid">
            <p>Nome do operador é obrigatório</p>
        </div>

        <!-- SENHA -->
        <mat-form-field appearance="outline">
            <mat-label for="OPER_senha">Senha</mat-label>
            <input type="password" matInput placeholder="Informe a senha..." name="OPER_senha" 
            [(ngModel)]="registerForm.OPER_senha" #OPER_senha="ngModel" required>
            <mat-icon matSuffix>person</mat-icon>
        </mat-form-field>
        <!-- ERRO - SENHA -->
        <div class="Erro" *ngIf="OPER_senha.touched && OPER_senha.invalid">
            <p>Senha é obrigatório</p>
        </div>

        <!-- Enviar -->
        <div class="div_bt_submit">
            <button [disabled]="rgForm.invalid" type="submit" mat-stroked-button color="primary">Sign up <mat-icon matSuffix>lock_outline</mat-icon></button>
        </div>
    </form>
</div>
