<mat-toolbar>
    <div class="div_Logo">
        <h1>My project</h1>
    </div>

    <div class="div_Buttons">
        <a [routerLink]="['/produtos']" routerLinkActive="active">Produtos <mat-icon>list</mat-icon></a>
        <a [routerLink]="['/login']" routerLinkActive="active">Login <mat-icon>person</mat-icon></a>
        <a [routerLink]="['/register']" routerLinkActive="active">Register <mat-icon>save</mat-icon></a>
        <a [routerLink]="['/reset-password']" routerLinkActive="active">Reset Password <mat-icon>refresh</mat-icon></a>
    </div>    
</mat-toolbar>



