<mat-toolbar>
    <div class="div_Logo">
        <h1>My project</h1>
    </div>

    <div class="div_Buttons">
        <a [routerLink]="['/produtos']" routerLinkActive="active"><mat-icon>list</mat-icon>Produtos</a>
        <a [routerLink]="['/login']" routerLinkActive="active"><mat-icon>face</mat-icon>Login</a>
        <a [routerLink]="['/register']" routerLinkActive="active"><mat-icon>save</mat-icon>Register</a>
        <a [routerLink]="['/reset-password']" routerLinkActive="active"><mat-icon>refresh</mat-icon>Reset Password</a>
    </div>    
</mat-toolbar>



