<!-- <p>products works!</p> -->

<!-- ********* SEGUNDO BLOCO ********* -->
<div class="div_Table">
    <h1>Lista de produtos</h1>
    
    <table>
        <thead>
          <tr>
            <th class="id"> id </th>
            <th> Descrição   </th>
            <th> Cod inc     </th>
            <th> Inclusão    </th>
            <th> Cod alt     </th>
            <th> Alteracão   </th>
            <th>             </th>
            <th>             
              <button type="button" (click)="adicionar = !adicionar" title="Adicionar um novo produto" mat-stroked-button color="primary">
                <mat-icon>add</mat-icon>
              </button>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let produto of produtos">
            <td>{{ produto.TABPROD_seq_tabprod }}</td>
            <td>{{ produto.TABPROD_desc         }}</td>
            <td>{{ produto.cod_oper_inc         }}</td>
            <td>{{ produto.dat_inclusao  | date }}</td>
            <td>{{ produto.cod_oper_alt         }}</td>
            <td>{{ produto.dat_alteracao | date }}</td>
            <td>
              <button type="button" title="Editar este produto" class="tableButton" (click)="editProduto(produto)" mat-stroked-button color="primary"><mat-icon>edit</mat-icon></button>
              <!-- <button type="button" class="tableButton" (click)="deleteProduto(produto)" mat-stroked-button color="warn"><mat-icon>delete</mat-icon></button> -->
            </td>
          </tr>
        </tbody>
      </table>
</div>

<!-- ********* SEGUNDO BLOCO ********* -->
<div *ngIf="adicionar" class="divAdicionar">
  <h1> Adicionar produto </h1>

  <form #prodForm="ngForm" (ngSubmit)="createProduto(TABPROD_desc.value)">
    <!-- Descrição -->
    <div class="formContent">
      <mat-form-field appearance="outline">
        <mat-label for="TABPROD_desc">Descrição</mat-label>
        <input matInput type="text" [(ngModel)]="produto.TABPROD_desc" name="TABPROD_desc" 
        #TABPROD_desc="ngModel" [ngClass]="{ 'is-invalid': prodForm.submitted && TABPROD_desc.invalid }" 
        placeholder="Descrição do produto..." required>
      </mat-form-field>
      <!--Erro-->
    </div>
    
    <!-- Botões do formulário -->
    <div class="formButtons">
      <button mat-stroked-button type="submit" color="primary">Salvar</button>
      <button mat-stroked-button type="reset" (click)="cleanForm(prodForm)">Limpar</button>
      <button mat-stroked-button type="reset" (click)="cancelar()" color="warn">Cancelar</button>
    </div>
  </form>
</div>

<!-- ********* TERCEIRO BLOCO ********* -->
<div *ngIf="atualizar" class="divAtualizar">
  <h1> Atualizar produto </h1>

  <div class="div_Form">
    <form #prodForm="ngForm" (ngSubmit)="prodForm.form.valid && updateProduto(prodForm)" novalidate>
      <!-- Id -->
      <div class="formContent">
        <mat-form-field appearance="outline">
          <mat-label for="TABPROD_seq_tabprod">TABPROD_seq_tabprod</mat-label>
          <input matInput type="number" [(ngModel)]="produto.TABPROD_seq_tabprod" name="TABPROD_seq_tabprod" 
          #TABPROD_seq_tabprod="ngModel" [ngClass]="{ 'is-invalid': prodForm.submitted && TABPROD_seq_tabprod.invalid }" 
          placeholder="Digite o TABPROD_seq_tabprod..." readonly>
        </mat-form-field>
      </div>

      <!-- Descrição -->
      <div class="formContent">
        <mat-form-field appearance="outline">
          <mat-label for="TABPROD_desc">TABPROD_desc</mat-label>
          <input matInput type="text" [(ngModel)]="produto.TABPROD_desc" name="TABPROD_desc" 
          #TABPROD_desc="ngModel" [ngClass]="{ 'is-invalid': prodForm.submitted && TABPROD_desc.invalid }" 
          placeholder="Digite o TABPROD_desc..." required>
        </mat-form-field>
        <!--Erro-->
      </div>

      <!-- Botões do formulário -->
      <div class="formButtons">
        <button mat-stroked-button type="submit" color="primary">Salvar</button>
        <button mat-stroked-button type="reset" (click)="cleanForm(prodForm)">Limpar</button>
        <button mat-stroked-button type="reset" (click)="cancelar()" color="warn">Cancelar</button>
      </div>
    </form>
  </div>
</div>