footer{
    text-align: center;
    position: fixed;
    width: 100%;
    padding: 7px 4px;
    background: black;
    left: 0;
    bottom: 0;
}

footer p{
    color: white;
}

footer p span{
    text-decoration: none;
    color: rgb(103, 58, 183);
}